xsd.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="TVshow">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="show"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="show">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="day"/>
        <xs:element ref="month"/>
        <xs:element ref="year"/>
        <xs:element ref="weekday"/>
        <xs:element ref="channel"/>
        <xs:element ref="genre"/>
        <xs:element ref="beginTime"/>
        <xs:element ref="duration"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="day" type="xs:integer"/>
  <xs:element name="month" type="xs:integer"/>
  <xs:element name="year" type="xs:integer"/>
  <xs:element name="weekday" type="xs:string"/>
  <xs:element name="channel" type="xs:string"/>
  <xs:element name="genre" type="xs:string"/>
  <xs:element name="beginTime" type="xs:string"/>
  <xs:element name="duration" type="xs:integer"/>
</xs:schema>